@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Pinyon+Script&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins&family=Underdog&display=swap');

:root {
    --main-color: #705e44;
    --primary-color: #312e2e;
}

button {
    padding: 10px;
    background: var(--main-color);
    border: none;
    cursor: pointer;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #100e0f;
}

/*nav start*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-family: sans-serif;
    padding-top: 15px;
}

li {
    display: inline;
    list-style: none; 
}


li a {
    color: white;
    text-decoration: none;
    margin-left: 40px;
}

li a:hover {
    box-shadow: 0 2px  3px #ffffff80;
}


.header {
    background-image:url(coffee.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
    font-weight: normal;

    /* flexBox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    text-align: center;
}


.main-heading {
    position: absolute;
    top: 7rem;
    font-size: 4rem;
    word-spacing: 10px;
    /* margin-bottom: -40px; */
}


.primary-heading {
    position: absolute;
    bottom: 4rem;
    font-size: 4rem;
    word-spacing: 10px;
    /* margin-bottom: -10px; */
}

.main-btn {
    position: absolute;
    bottom: 2rem;
    padding: 10px 30px;
    margin-top: 20px;
    background: transparent;
    background: var(--main-color);
    transform: translateY(60px);
}

#our-story {
    height: 100vh;
    margin-top: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.img {
    width: 400px;
    height: 400px;
    background-image: url(coffee2.jpg);
    background-position: center;
    background-size: cover;
}

.title-style {
    display: flex;
    align-items: center;

}

.title {
    font-family: sans-serif;
    font-size: 4rem;
    color: #fff;
    transform: translateX(-100px);
}

.line {
    width: 100px;
    height: 2px;
    background: #fff;
    transform: translate(-120px);
}

.section-content p {
    max-width: 500px;
    color: #fff;
    font-family: sans-serif;
    line-height: 20px;
    margin: 20px 0;
}


.coffee-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
}

.content-section p {
    max-width: 500px;
    margin-top: 20px;
    font-family: sans-serif;
    color: #fff;
}

.img-2 {
    width: 400px;
    height: 400px;

}

.title-two {
    font-size: 3rem;
    color: #fff;
    font-family: sans-serif;
    /* font-weight: normal; */
}

.products {
    margin-top: 5rem;
}

.title-three {
    font-size: 4rem;
    margin: 10rem 0 10rem 10rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card{
    border: 2px solid #deab5f;
    padding: 0 20px;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    position: relative;
    margin-bottom: 4rem;
}


.card-img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -60px;
    /* border: 2px solid wheat; */
}

.img-one {
    background: url(coffee4.jpg);
    background-position: center;
    background-size: cover;

}

.img-two {
    background: url(coffee5.jpg);
    background-position: center;
    background-size: cover;
    
}

.img-three {
    background: url(coffee6.jpg);
    background-position: center;
    background-size: cover;   
}

.card-title {
    color: #fff;
    font-family: sans-serif;
    margin-top: 50px;
}

.card .items p {
    color: #fff;
    margin: 20px 0;
    font-family: sans-serif;
}

footer {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: sans-serif;
}

footer .container {
    margin: 20px;
    max-width: 300px;
    text-align: center;
}

footer .heading-info {
    margin-bottom: 20px;
}

footer p{
    line-height: 25px;
}

span {
    color: #deab5f;
}
